@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap");
/*
font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif;
*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/*NAVBAR */

button {
  font-family: "Roboto", sans-serif;
  border-style: none;
}
nav {
  width: 72.5%;
  margin: auto;
}
header {
  background-color: #ffc017;
}
#navContainer {
  border-bottom: 1px solid #191919;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffc017;
  transition: background-color 300ms;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
}
nav img {
  cursor: pointer;
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
li {
  padding: 0 1em;
}
li button {
  padding: 0.7em 1.4em;
  background-color: #191919;
  color: white;
  border-radius: 30px;
  transition: background-color 1s;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #191919;
}

/* HEADER */

h1 {
  font-family: "Spectral", serif;
  margin: 0;
  padding-bottom: 0.3em;
  font-size: 96px;
  font-weight: 400;
  line-height: 1;
}
h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 2em;
  width: 65%;
}
header {
  background-color: #ffc017;
}
#heroContainer {
  border-bottom: 1px solid #191919;
  height: 450px;
  margin-bottom: 2em;
}

#hero {
  margin-left: 18.5%;
  display: flex;
  position: relative;
  height: 100%;
}
#hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#emme {
  position: absolute;
  right: 0;
  top: 0;
}

h3 + button {
  padding: 0.5em 3em;
  background-color: #191919;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  cursor: pointer;
}

/* MAIN */

/* SECTION 1 */

#section1 {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5em;
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  padding-top: 35px;
  padding-left: 80px;
  font-family: "Roboto", sans-serif;
}
#trending {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#trending div {
  flex-basis: 33.33%;
  display: flex;
}
.trendingCard {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  height: 100%;
}
.trendingCard div {
  display: flex;
  align-items: center;
}
main h4 {
  flex-grow: 1;
  margin: 0;
  font-size: 2em;
  color: lightgray;
}
#titleTrending {
  display: flex;
  align-items: center;
}
main p {
  font-family: "Roboto", sans-serif;
}

.trendingImg {
  width: 25px;
  height: 25px;
  border-radius: 90px;
  margin-right: 0.5em;
  cursor: pointer;
}

.trendingImg + p {
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  width: 80%;
  cursor: pointer;
}

main h5 {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 70%;
  width: 80%;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
}

/* SECTION 2 */

#section2 {
  display: flex;
}
.timeArticle {
  padding-bottom: 4em;
  font-size: 0.8em;
  color: gray;
}
.timeArticle img {
  cursor: pointer;
}
.timeArticle p {
  display: flex;
}
span {
  padding-left: 5rem;
  padding-right: 5rem;
}
.infoArticle {
  flex-basis: 75%;
}
.articleImg {
  flex-basis: 25%;
}
.articleHeader {
  align-items: center;
}
.infoArticle div {
  display: flex;
  padding-bottom: 5px;
}
.infoArticle {
  padding-right: 60px;
}
.infoArticle h2 {
  font-weight: 900;
  font-size: larger;
}
p:nth-of-type(3) {
  display: flex;
  background-color: lightgray;
  padding: 0.4em 0.6em;
  border-radius: 30px;
  cursor: pointer;
}
.articleTime {
  justify-content: space-between;
}
.articleFooterInfo {
  align-items: center;
  font-size: 0.8em;
  color: gray;
}
h2 + p {
  display: flex;
  margin-top: 8px;
  margin-bottom: 0;
  cursor: pointer;
  color: gray;
}
h2 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
}
.article img {
  cursor: pointer;
}

/* DISCOVER STICKY */

.btnDiscover {
  background-color: white;
  border: 1px solid lightgray;
  padding: 0.5em 1em;
  margin: 0.5em 0.1em 0.5em 0;
  color: gray;
  cursor: pointer;
}
#discover {
  width: 60%;
  position: sticky;
  top: 115px;
  z-index: 1;
  align-self: flex-start;
  padding-left: 3em;
}
#discover p {
  font-weight: 700;
  font-size: 0.9em;
}
#links ul {
  flex-wrap: wrap;
  padding: 0;
}
#links ul li {
  padding: 0 1.5em 1em 0;
  color: gray;
  cursor: pointer;
}
#links {
  border-top: 1px solid lightgray;
  font-size: 0.9em;
  margin-top: 2em;
  padding-top: 1.2rem;
}

.article {
  display: flex;
  margin-bottom: 3em;
}
